<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query-title {"type":"search"} /-->

<!-- wp:omniform/form {"form_type":"custom","submit_action":"{{get_site_url}}","submit_method":"GET"} -->
<!-- wp:group {"style":{"spacing":{"margin":{"top":0,"bottom":0},"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between","orientation":"horizontal","verticalAlignment":"bottom"}} -->
<div class="wp-block-group"><!-- wp:omniform/field {"fieldLabel":"Search","fieldName":"s","style":{"layout":{"selfStretch":"fit","flexSize":null}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<!-- wp:omniform/input {"fieldType":"search","fieldPlaceholder":"Search"} /-->
<!-- /wp:omniform/field -->

<!-- wp:omniform/button {"buttonType":"submit","buttonLabel":"Search","style":{"layout":{"selfStretch":"fit","flexSize":null},"border":{"width":"2px"}},"borderColor":"contrast"} /--></div>
<!-- /wp:group -->
<!-- /wp:omniform/form --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"h4x0r/posts-list"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /--></div>
<!-- /wp:group -->