name: Deploy to WordPress.org

on:
  release:
    types: [published]

jobs:

  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: WordPress Theme Deploy
        uses: Codeinwp/action-wordpress-theme-deploy@v1.0
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
